<form [formGroup]="agentForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md">
      <div class="form-group">
        <label for="agentList">Agents</label>
        <div id="agentList" class="btn-group-vertical btn-group-toggle custom-control custom-radio" data-toggle="buttons">
          <label class="btn btn-secondary" *ngFor="let name of agentNames; let i = index" [ngClass]="{'active': name === this.agentForm.get('agentName').value}">
            <input type="radio" name="agentName" id="{{name}}radio" autocomplete="off" [value]="name" formControlName="agentName">{{name}}
          </label>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="form-group">
        <label for="agentList">Message</label>
        <textarea class="form-control" id="messageTextarea" rows="2" formControlName="agentMessage"></textarea>
      </div>

      <div class="form-group">
        <label for="animationList">Animation</label>
        <select id="animationList" class="form-control custom-select" id="animationSelect" formControlName="agentAnimation" >
          <option *ngFor="let animation of agentAnimations; let i = index" [value]="animation">{{animation}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="GestureCoordinates">Gesture Coordinates</label>
        <div id="GestureCoordinates" class="form-group row" formGroupName="agentGestureXY">
          <div class="col-sm">
            <label for="GestureX" class="col-form-label">X (in px): </label>
            <input class="form-control" id="GestureX" formControlName="X_px">
          </div>

          <div class="col-sm">
            <label for="GestureY" class="col-form-label">Y (in px): </label>
            <input class="form-control" id="GestureY" formControlName="Y_px">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="DestinationCoordinates">Destination Coordinates</label>
        <div id="DestinationCoordinates" class="form-group row" formGroupName="agentDestinationXY">
          <div class="col-sm">
            <label for="DestinationX" class="col-form-label">X (in px): </label>
            <input class="form-control" id="DestinationX" formControlName="X_px">
          </div>

          <div class="col-sm">
            <label for="DestinationY" class="col-form-label">Y (in px): </label>
            <input class="form-control" id="DestinationY" formControlName="Y_px">
          </div>
        </div>
      </div>

    </div>
  </div>

  <button type="submit" [disabled]="!agentForm.valid" class="btn btn-primary">Submit</button>
</form>
