.form-group {
    margin-bottom: 0rem;
}

.custom-control {
    padding-left: 0em;
    margin: -1.25rem;
    padding-bottom: 1.25rem
}

.card-body {
    padding-bottom: 0rem
}

.card {
    margin-top: 1rem;
}