<div class="card">
  <div class="card-header">
    1. Select an Agent
  </div>
  <div class="card-body">
    <form [formGroup]="nameForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="btn-group-vertical btn-group-toggle custom-control custom-radio" data-toggle="buttons">
          <label class="btn btn-secondary" *ngFor="let name of agentNames; let i = index" [ngClass]="{'active': name === this.nameForm.get('agentName').value}">
            <input type="radio" autocomplete="off" [value]="name" formControlName="agentName">
            {{name}}
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
