<div class="row">
  <div class="col-md">
    <app-name-picker [submitObservable]="submitWatcher" (nameEmitter)="onNameEmit($event)"></app-name-picker>
  </div>

  <div class="col-md">
    <app-task-picker [agentName]="currentName" (taskEmitter)="onTaskEmit($event)"></app-task-picker>
  </div>  

  <div class="col-md">
    <app-task-lister [tasks]="taskList" (taskDeleter)="onTaskDelete($event)"></app-task-lister>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md" align="right">
    <button (click)="onSubmit()" [disabled]="!currentAgent" class="btn btn-primary">Spawn Agent</button>
  </div>
</div>
